@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
				box-sizing: border-box;
				margin: 0;
				font-family: "Montserrat", sans-serif;
				font-size: 18px;
}

.nav {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0;
				height: 65px;
				border: none;
				border-radius: 10px;
				padding: 20px;
				padding-top: 40px;
}
.nav nav {
				margin-left: 0;
}
.nav nav ul {
				display: flex;
				justify-content: space-between;
				text-decoration: none;
				list-style: none;
				position: relative;
				left: 0;
				padding-left: 10px;
				margin: 10px;
}
.nav nav ul li {
				padding: 10px;
				border: none;
				border-radius: 8px;
				text-align: center;
				transition: all 0.3s ease;
}
.nav nav ul li:hover {
				color: #fc5000;
				cursor: pointer;
				transition: all 0.3s ease;
}
.nav nav ul .arrow {
				position: absolute;
				left: 100px;
				opacity: 0;
}
@media screen and (max-width: 415px) {
				.nav nav ul .about {
								opacity: 0;
				}
				.nav nav ul .projects {
								opacity: 0;
				}
				.nav nav ul .arrow {
								opacity: 1;
				}
}
.nav .contact {
				margin: 10px;
				padding: 20px;
				border: none;
				border-radius: 10px;
				text-align: center;
				background-color: #ff9900;
				transition: all 0.3s ease-out;
}
.nav .contact:hover {
				cursor: pointer;
				transition: all 0.3s ease-in;
				background-color: #fc5000;
				color: white;
}