@import "colors";
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
        ul {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            text-align: center;
            list-style: none;
            li {
                padding: 10px 10px;
                margin: 5px 5px;
                margin-right: 0;
                border: none;
                border-radius: 8px;
                transition: all 0.3s ease;
                &:hover {
                    color: $redOrange;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}