@import "colors";
@import "media_queries";
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 75px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    nav {
        margin-left: 0;
        padding-left: 0;
        margin-top: 20px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            list-style: none;
            position: relative;
            left: 0;
            margin: 10px;
            padding-left: 0;
            li {
                padding: 10px;
                margin: 20px;
                margin-left: 0;
                border: none;
                border-radius: 8px;
                text-align: center;
                transition: all 0.3s ease;
                &:hover {
                    color: $redOrange;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
            }
            .arrow {
                position: absolute;
                left: 65px;
                opacity: 0;
            }
            @include phone {
                display: flex;
                justify-content: space-between;
                text-decoration: none;
                list-style: none;
                position: relative;
                left: 0;
                padding-left: 0;
                margin: 5px;
                .about {
                    display: none;
                }
                .projects {
                    display: none;
                }
                .arrow {
                    opacity: 1;
                }
            }
        }
    }
    .contact {
        margin: 5px;
        margin-top: 30px;
        padding: 20px;
        border: none;
        border-radius: 20px;
        text-align: center;
        background-color: $yellowOrange;
        transition: all 0.3s ease-out;
        &:hover {
            cursor: pointer;
            transition: all 0.3s ease-in;
            background-color: $redOrange;
            color: white;
        }
        @include phone {
            width: 40vw;
            padding: 10px;
            margin: 10px;
            margin-top: 15px;
            border: none;
            border-radius: 10px;
            text-align: center;
            background-color: $yellowOrange;
            transition: all 0.3s ease-out;
            &:hover {
                cursor: pointer;
                transition: all 0.3s ease-in;
                background-color: $redOrange;
                color: white;
            }
        }
    }
}