@import "colors";
@import "media_queries";
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 65px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    padding-top: 40px;
    nav {
        margin-left: 0;
        ul {
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            list-style: none;
            position: relative;
            left: 0;
            padding-left: 10px;
            margin: 10px;
            li {
                padding: 10px;
                border: none;
                border-radius: 8px;
                text-align: center;
                transition: all 0.3s ease;
                &:hover {
                    color: $redOrange;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
            }
            .arrow {
                position: absolute;
                left: 100px;
                opacity: 0;
            }
            @include phone {
                .about {
                    opacity: 0;
                }
                .projects {
                    opacity: 0;
                }
                .arrow {
                    opacity: 1;
                }
            }
        }
    }
    .contact {
        margin: 10px;
        padding: 20px;
        border: none;
        border-radius: 10px;
        text-align: center;
        background-color: $yellowOrange;
        transition: all 0.3s ease-out;
        &:hover {
            cursor: pointer;
            transition: all 0.3s ease-in;
            background-color: $redOrange;
            color: white;
        }
    }
}